[2021-03-14 19:39] sulimma opened #1 "Create Dummy Library for xHPTDC8"
Create a dummy library that can be used to develop code for the [xHPTDC8](https://www.cronologic.de/products/tdcs/xhptdc8-pcie)

More details are in the [README.md] (https://github.com/cronologic-de/xhptdc8_babel/tree/main/dummy/README.md)

[2021-03-14 19:41] sulimma opened #2 "Update Dummy Library with finalized API when available"
There will be fixes and small API changes with the final driver release. These must be ported to the dummy library.
See issue #1.

[2021-03-14 19:57] sulimma opened #3 "Setup dummy library to compile as github action"
Reconfigure the dummy library project to compile from the command line.
I am not an expert on this, but most people seem to use CMake for this, however using MSBuild directly without CMake also seems to be possible.
The script should build both the x86 and x64 libraries.
Once this is working locally, setup a github action that can be run manually to build the dll and .lib files and copy them to `/

[2021-03-14 21:20] sulimma opened #4 "Load xhptdc8_manager_configuration from YAML"
The purpose of this repository is to make using the  [xHPTDC8 time-to-digital converter](https://www.cronologic.de/products/tdcs/xhptdc8-pcie)  simpler to use for end users.

Setting up the xhptdc8_manager_configuration structure is rather complicated. This shall be simplified by allowing to apply YAML files to the structure.
So the workflow for the user would be:

[code]

The YAML can describe an

[2021-03-15 09:36] Bassem-Ramzy commented on #4
A wiki page is created to discuss the [Library Structure](https://github.com/cronologic-de/xhptdc8_babel/wiki/library_structure)

[2021-03-15 12:49] sulimma opened #5 "Changes in the API"
The folling will be removed from the API
XHPTDC8_TDC_MODE_GROUPED
XHPTDC8_TDC_MODE_CONTINUOUS
xhptdc8_device_configuration.tdc_mode

The following shall be added
xhptdc8_grouping_configuration.enabel = false

xhptdc8_device_configuration.tdc_trigger_offset
renamed to
xhptdc8_device_configuration.thresholds

All defines
XHPTDC8_DC_OFFSET_*
renamed to
XHPTDC8_THRESHOLD_*

[2021-03-15 13:20] Bassem-Ramzy commented on #5
- xhptdc8_device_state_to_str() is updated in /lib/include/xHPTDC8_interface.h, with the next commit
- bool enabled = false; is added to xhptdc8_grouping_configuration in /lib/include/xHPTDC8_interface.h, with the next commit
- All defines
XHPTDC8_DC_OFFSET_*
renamed to
XHPTDC8_THRESHOLD_*
updated in /lib/include/xHPTDC8_interface.h, with the next commit
- tdc_trigger_offset updated to be threshol

[2021-03-15 15:08] sulimma commented on #5
Sorry for chaos, but xhptdc8_device_state_to_str(int state) is correct.
Please change it back.
The functions without _to_ do not take a parameter.

[2021-03-16 08:56] Bassem-Ramzy commented on #5
Done, and committed

[2021-03-16 09:01] Bassem-Ramzy commented on #5
tdc_mode updates are applied and committed

[2021-03-16 09:02] #5 closed, assigned to Bassem-Ramzy

[2021-03-16 09:02] Bassem-Ramzy commented on #5
All are applied and committed

[2021-03-16 09:33] Bassem-Ramzy commented on #3
Using MSBuild on windows command line:
**MSBuild msvscpp.vcxproj**
Where:
 **msvscpp.vcxproj**: is found in project folder <xhptdc8_babel\dummy\msvscpp\msvscpp>
 **MSBuild** is found in folder <MSBuild\Current\Bin\MSBuild> of MS Visual Studio installation folder, e.g. <C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MSBuild>
 BTW, MSBuild can be installed without

[2021-03-17 10:41] Bassem-Ramzy commented on #3
Action Dummy_MSBuild is added and tested
Upon any change in sub files of ./dummy, the action does the following:
1. Builds the Dummy Library Release x64 & x86 DLL & Lib, using MSBuild
2. Copies the DLLs & Libs to the corresponding folders on ./lib repository folder, and commits

[2021-03-17 10:41] #3 closed, assigned to Bassem-Ramzy

[2021-03-17 10:42] Bassem-Ramzy commented on #3
Action is finalized

[2021-03-17 11:23] sulimma opened #6 "Adjust file names of libraries"
The dummy library is intended to be a drop in replacement for development in projects where the code does not know that it is  using the dummy.
Therefore the filenames shall be the same for the dummy and the real driver.
Please follow the filename patterns in the [README.md](https://github.com/cronologic-de/xhptdc8_babel/tree/main/lib).

For example:
[code]

[2021-03-17 11:31] sulimma opened #7 "bug in dummy random numbers"
`xhptdc8_read_hits()'
In non-gourping-mode, the same random number is applied to all hits.
Instead, for each hit_index the a new random "normal" shall be computed.

Also, I suggest that you do not create a new copy of the random number generator all the time.
Just store a random number generator in a global static variable. This will be more efficient and create better random numbers.
The distribu

[2021-03-17 12:31] Bassem-Ramzy commented on #6
Updated in MSVS Project, PowerShell Script, YAML, and Wiki

[2021-03-17 12:31] #6 closed, assigned to Bassem-Ramzy

[2021-03-17 14:05] Bassem-Ramzy commented on #7
Updated

[2021-03-17 14:05] #7 closed, assigned to Bassem-Ramzy

[2021-03-17 14:40] sulimma opened #8 "Improved User Guide Example"
Take the example from the User Guide and
- create a sub directory "ug_example"
- create a minimal project as simple as possible that can compile the library and link to the dummy library
- adjust the example to API changes of the last week
- clean up the code for better readability

This task is first assigned to @sulimma who will perform some refactoring and will then be assigned to @Bassem-Ramzy

[2021-03-17 16:28] Bassem-Ramzy commented on #1
Created on .\dummy sub folder

[2021-03-17 16:28] #1 closed, assigned to Bassem-Ramzy

[2021-03-17 16:32] Bassem-Ramzy commented on #4
@sulimma:  _dc_offset_ in the example should be replaced with _threshold_ as per the latest update

[2021-03-17 17:00] Bassem-Ramzy commented on #4
[RapidYAML](https://github.com/biojppm/rapidyaml): is more recent, and (claimed as) "faster" YAML parser; is found as well

[2021-03-17 18:14] sulimma commented on #8
@Bassem-Ramzy :

I refactored the example and added a few comments.
I did not:
- try to compile
- test
- implement the API changes.
-

[2021-03-17 18:30] sulimma commented on #4
Speed is of no importance.
I would say number one priority is ease of use.
You can choose any library that is compatible to the Mozilla License.

[2021-03-17 18:33] sulimma commented on #4
RapidYAML also seems reasonably simple to use, so please choose whatever you like best as a programmer.

[2021-03-17 18:34] sulimma commented on #4
Please note that the arrays shall be implemented as maps not as sequences. The reason is that it shall be possible to assign only part of the array, which is not possible for sequences.

[2021-03-18 07:39] Bassem-Ramzy commented on #8
Updates on function **xhptdc8_init**, parameter: **error_message** in "xHPTDC8_interface.h"

It's mentioned that:

Accordingly, we need to:
1. Validate that the returned message size doesn't exceed 80, in both driver & dummy libraries code
2. Copy the error message (if found) to the string instead of just assigning the pointer, , in both driver & dummy libraries code
3. Allocate the string memory

[2021-03-18 07:54] sulimma commented on #8
I believe that this is an error in the comment.
error_message is a pointer to a pointer. All possible error strings are statically assigned in the driver and the driver just overwrites the pointer with the address of the correct string. The strings are never allocated or copied.

Like this
[code]

[2021-03-18 09:48] Bassem-Ramzy commented on #8
The comment looks consistent with the user guide:
[code]

[2021-03-18 09:56] sulimma commented on #8
Yes, but the return value is the address of a string, not a string.
Otherwise it would be ```char *error_message``` with just a single asterics.

[2021-03-18 09:56] sulimma commented on #8
I can clarify this in the user guide.

[2021-03-18 10:04] sulimma opened #9 "Cleanup Comments"
When the API is finalized, the comments in the header file shall be made consistent with the user guide.
The Doxygen Markup can be removed in the process.

Please wait for the final header file before starting this task.

[2021-03-18 10:19] sulimma opened #10 "Readout Tool"
#Readout Tool

## Objective
New Users shall have a command line tool where they can gather data directly from the device to test it without having to write specific code.

This shall reside in a new sub directory and be both a tool for end users and a code example for users.

## Rust
This project shall be written in Rust.
There is a command line parser for Rust called [clap"´](https://github.com/c

[2021-03-18 14:09] Bassem-Ramzy commented on #8
In the example code:
[code]
The code logic assumes that _xhptdc8_get_default_configuration()_ gets default configuration for a "device, _xhptdc8_device_configuration_", while, it gets it for a "manager, _xhptdc8_manager_configuration_" including its sub-devices configurations.
Do we need in the example to have a function that gets default configuration of a device (_xhptdc8_device_configuration_)?

[2021-03-18 16:08] sulimma commented on #8
No. That is broken.
Get the default config for the manager and then loop over the array of device_cconfigurations in that structure.

[2021-03-18 20:50] Bassem-Ramzy opened #11 "Compilation error in xHPTDC8_interface.h, xhptdc8_grouping_configuration"
xHPTDC8_interface.h file generates the following compilation error on both MS Visual Studio 2019 Client, and MSBuild on github action:

The checked in solution is to do

[code]

instead of:

[code]

[2021-03-18 21:00] Bassem-Ramzy commented on #11
Log of  the build & error is found [here](https://github.com/cronologic-de/xhptdc8_babel/runs/2143331328?check_suite_focus=true)

[2021-03-18 21:28] sulimma commented on #11
I currently don't have a compiler here, but I believe that the default assignment in this line is the problem:
bool enabled = false;

I think you need to change it to
crono_bool_t enabled;

and initialize it when the the other members are initialized.
I file an issue with the developers.

[2021-03-19 08:22] Bassem-Ramzy commented on #11
Applied

[2021-03-19 08:22] #11 closed, assigned to sulimma

[2021-03-19 09:15] Bassem-Ramzy commented on #8
The function:
[code]
May be it doesn't need the hMgr as an argument in the Driver code, as it uses internal variables; but it doesn't seem consistent with other functions when being used/coded in both Dummy Library and UG Example.
For consistency and systematic approach reasons, it it's recommended to take manager as a first argument

[2021-03-19 09:20] sulimma commented on #8
There are a few methods that are intended to be calles before the manager  object is created. For this reason they can't take the manager  object as a parameter.
I am currently not sure, why count_devices is on that list, but it is on purpose.

It is good that are reading the code with open eyes and detect and report such observation.

[2021-03-19 13:12] sulimma commented on #9
@Bassem-Ramzy : The API rework is complete. You can perform this task now.

(Of course it is still possible that we find new bugs)

[2021-03-21 12:03] Bassem-Ramzy commented on #8
Project is created, compiles, and runs properly. Might need deep testing for different business scenarios.

[2021-03-21 12:03] #8 closed, assigned to Bassem-Ramzy

[2021-03-21 12:06] Bassem-Ramzy opened #12 "Create github action to build User Guide Example"
Create a github action to automatically build the user guide example project (/ug_example) to have the executables ready for direct download without the need to build them.

[2021-03-21 12:44] sulimma commented on #12
Nice initiative but don't do this for this subproject.

This is a code example. No one needs the executable people should use it to test the compilation on their own computer.

Please also remove the executable and it's directory from the repository.

[2021-03-21 12:47] sulimma opened #13 "Remove xhptdc8_user_guide_example.h"
While i believe that most often it is a good idea to declare interfaces in a separate header, this user code example should be a single file program. That makes it easier to represent it in the user guide.
Please remove the include directive in line 8 and change the code such that it compiles the single file.

(I guess you just need to move the implementation of exit_on_fail() to the top of the fi

[2021-03-21 15:14] #13 closed, assigned to nobody

[2021-03-21 15:15] #12 closed, assigned to Bassem-Ramzy

[2021-03-24 07:16] Bassem-Ramzy opened #15 "UG vs Code"
There is a difference between **trigger_threshold** definition in User Guide and that in the code

User Guide

Code:
[code]

Need to unify both:
1. The name
2. The array size

________

"xhptdc8_adc_channel" is missing in the User Guide, while referred to in the code example

_______

[2021-03-24 10:09] Bassem-Ramzy opened #16 "For YAML support, manager structure ALL members to have "default values""
To make it easier for the user, we need to make sure that both the Driver and Dummy Library provide a default value for every member of the manager structure

Related to issue: Load xhptdc8_manager_configuration from YAML #4

[2021-03-24 11:02] Bassem-Ramzy commented on #4
Manager Configuration YAML Draft Documentation:
[code]

[2021-03-24 11:08] sulimma commented on #15
Thank you.
The code is correct. I move this issue to the user guide project.

[2021-03-24 11:11] Bassem-Ramzy commented on #15
There is a difference in variables names in structure **xhptdc8_device_configuration**, that have prefix **xhptdc8_** in User Guide, e.g. _xhptdc8_trigger_.

User Guide

Code
[code]
Need to unify:
- The name

[2021-03-24 11:11] sulimma commented on #16
This is implemented.  get_default_configuration will always return a filled structure.

The intended process is:

[code]

[2021-03-24 11:12] #16 closed, assigned to Bassem-Ramzy

[2021-03-25 19:15] sulimma opened #17 "Use YAML maps instead of sequences for arrays."
I specified that arrays should be represented by maps not by sequences so that it is possible to just modify an element in the middle of the array.

The example YAML from the README.md should look like this:

[code]

[2021-03-27 20:41] Bassem-Ramzy commented on #4
@sulimma, what is _-1_ used for in the example?
[code]

[2021-03-27 21:56] sulimma commented on #4
This means that the value shall be applied to the whole array.

    Structures shall be represented by maps, with the map key beeing the name of the structure member.
    Arrays shall also be represented by sequences with the key beeing an integer.
    If the key -1 is specified the value shall be set to all array elements.
    Bound checks shall be applied when parsing arrays.

I must apologize.

[2021-03-28 06:44] Bassem-Ramzy commented on #4
Me too, I missed it

[2021-03-28 07:51] Bassem-Ramzy commented on #17
@sulimma
Just to make sure
[code]
Means we apply those values on the first trigger (first array element) in the configuration, i.e. this is equivalent to:
[code]
right?

[2021-03-28 08:03] Bassem-Ramzy commented on #17
And if so, shall this be applied also on the "device_configs"?

[2021-03-28 18:16] Bassem-Ramzy commented on #4
@sulimma When building the util library, shall the DLL & Header be saved to /lib (in both Driver & Dummy Library folders) or util/include/ & util/lib/

[2021-03-28 21:11] Bassem-Ramzy commented on #4
We can also think about using github test automation (e.g. https://github.com/marketplace/actions/run-c-c-test, just found it with a fast search), to provide test scenarios for xhptdc8_apply_yaml

[2021-03-29 07:48] Bassem-Ramzy opened #18 "util_test application to test xhptdc8_apply_yaml"
We need to add the following features to the **util_test** application, and update the xhptdc8_util.dll whenever needed.

### Validate YAML string format, and Display impact
A command line parameter to util_test to provide _xhptdc8_manager_configuration YAML string_ , and util_test to display the parsing results and impact on the _xhptdc8_manager_configuration_.
YAML string can be entered on-spot

[2021-03-29 08:53] sulimma commented on #4
Regarding the directory layout for the util compile results: I have very little experience with library deployment. I don't really now. Just do it one way or the other and then we will learn and change it.
It does not feel right to duplicate it twice for the dummy and the real library. I can image either of the following three variants:

a)
/lib/include
/lib/x86util
/lib/x64util

b)
/lib/include
/

[2021-03-29 08:59] sulimma commented on #17
No. This was my mistake when manually rewriting the yaml.
I don't think we should support two different formats. If trigger is an array it shall be configured as such. The only topic I wanted to open here is the issue sequences vs. maps.
So:
[code]
results in the values applied to entry 2.
[code]
Results in the values applied to all entries

[2021-03-29 09:06] sulimma commented on #17
If both -1 and other values are specified, the -1 shall be applied first. Then the other values.

Please add this to your test cases:

[code]

[2021-03-29 09:53] sulimma opened #19 "Info-Tool"
#xhptdc8_info.exe

This shall be a programm that provides human readable output on the TDCs available in the system.

## extensions to the util library
First for each info call in the API there shall be a method in the util library printing the structure it returns. For example `xhptdc8_print_fast_info(xhptdc8_fast_info info, crono_bool_t show_version)`.

## output format for library functions
**G

[2021-03-29 15:24] Bassem-Ramzy commented on #17
Reopened for the updates above regarding -1 & Array

[2021-03-30 07:46] #17 closed, assigned to Bassem-Ramzy

[2021-03-30 09:39] Bassem-Ramzy commented on #4
@sulimma, please review [xhptdc8_apply_yaml YAML Specifications](https://github.com/cronologic-de/xhptdc8_babel/blob/main/util/README.md#specifications) and let me know if any thing needs to be updated/added

[2021-03-30 10:42] Bassem-Ramzy commented on #4
Very valid point.
I'm in favor of the last scenario (c):
- Similar to what Windows & Visual Studio do. e.g. `C:\Program Files\Common Files\microsoft shared\VC\msdia90.dll` & **x86**: `C:\Program Files (x86)\Common Files\Microsoft Shared\VC\msdia90.dll`. So it will be "standard" and "systematic".
- DLL to have the same name for both platforms (x86 & x64).
- Since they use the driver DLL APIs, I sug

[2021-03-30 15:19] sulimma commented on #4
The spec is looking good.
I would only change one thing: Duplicate mapping keys should result in an error:
[code]
However, that is not crucial.

If what you are decribing is the default behaviour of the YAML library and it required extra effort to check for the error than we can prceed as you suggested.

[2021-03-30 17:48] Bassem-Ramzy commented on #4
Yes, YAML library doesn't refuse that, so we can leave it as is.

[2021-03-30 19:59] #4 closed, assigned to Bassem-Ramzy

[2021-03-30 20:04] Bassem-Ramzy commented on #4
Library is developed as per the [specifications in Readme](../tree/main/util/README.md)
Waiting for test result if any issue is generated

[2021-03-31 10:46] sulimma opened #20 "Language Bindings"
# xHPTDC8 language bindings

This repository shall also contain tools to use the [xHPTDC8](https://www.cronologic.de/products/tdcs/xhptdc8-pcie) with various programming languages.

Depending on how the language handles calls to C libraries this might just be an example project with instructions on how to link, or it might contain function and structure declarations or a wrapper with type conversi

[2021-04-01 09:11] Bassem-Ramzy opened #21 "Unify Driver and Dummy libraries"
Conceptually, Dummy library should follow Driver library and simulate its behavior. Here are some points need to be unified between them to have consistent and standardized behaviors between from both.

1)
We need to have one unified resource reference for both the Driver and Dummy Library in order to display the same messages for the same behavior from both libraries. And, when it's changed in on

[2021-04-01 10:23] Bassem-Ramzy commented on #18
Validate YAML string format, and Display impact is done.
Regarding to logging, a good logging library is found to be used <https://github.com/gabime/spdlog>, however, this task is of low priority right now, will come back to it later on.

[2021-04-01 10:48] Bassem-Ramzy commented on #2
Dummy Library builds successfully with latest versions of xHPTDC8_interface.h (updated 19 March), and crono_interface.h.
github action that builds Dummy Library is triggered as well when ./lib/include/** changes, and will send failure email in case the build failed
Any new fixes will be reported in new issues

[2021-04-01 10:48] #2 closed, assigned to Bassem-Ramzy

[2021-04-01 17:48] Bassem-Ramzy opened #22 "Adjust util folder structure and files naming"
We have now three projects in util, and are getting more
We need to have a folder structure and files naming convention for current projects and the new ones

[2021-04-01 17:58] Bassem-Ramzy commented on #22
Refer also to [this discussion](https://github.com/cronologic-de/xhptdc8_babel/issues/4#issuecomment-810117280)

[2021-04-01 18:00] Bassem-Ramzy commented on #22
If a dll/exe is not used by any other projects it should not be in the lib directory.
The naming convention for the driver libraries is used from many, many years now in a long list of products. It should not be changed.
The naming of the util library shall follow the naming of the driver lib as closely as possible. So I would add the "_64" to the end of the filename.

[2021-04-02 20:32] #22 closed, assigned to Bassem-Ramzy

[2021-04-03 17:45] Bassem-Ramzy opened #23 "User Guide fixes"
1.

to be

Also, setting **xhptdc8_manager_init_parameters** to have a hyperlink to the structure in the document.

[2021-04-03 18:02] Bassem-Ramzy commented on #23
2.

No index is given.
Could be

[2021-04-03 18:04] Bassem-Ramzy commented on #23
3.

int *error_code, char **error_message)

While in interface.h is defined of a different return type

[2021-04-03 18:18] Bassem-Ramzy commented on #23
4.

Is missing in the user guide

Suggested summary
[code]

[2021-04-03 18:54] Bassem-Ramzy commented on #23
5.

some specials. See Section **4.5.4** for details.

Section is 4.5.4 Structure xhptdc8_tiger_block

It should be

some specials. See Section **4.5.3** for details.

[2021-04-04 08:22] Bassem-Ramzy commented on #23
6.

It's not clear what is meant by **board_id. 10**

[2021-04-04 08:28] Bassem-Ramzy commented on #23
7.

Apparently **forst** needs to be translated or replaced.

[2021-04-04 08:36] Bassem-Ramzy commented on #23
8.

To be

[2021-04-04 12:09] Bassem-Ramzy commented on #23
9.

Since it's a variable and not a function that returns value, it could be:

[2021-04-04 12:27] Bassem-Ramzy commented on #23
10.

to be

[2021-04-04 12:40] Bassem-Ramzy commented on #23
11.

[code]

Should the following function also be defined in the user guide?

[code]

[2021-04-04 12:55] Bassem-Ramzy commented on #23
12.

Need to write brief description about the structure:
- xhptdc8_clock_info. e.g. Contains information about clocking configuration and status.
- xhptdc8_temperature_info. e.g. Contains temperature measurements from multiple sources on the board.
- xhptdc8_fast_info. e.g. Contains fast dynamic information.
- xhptdc8_manager_configuration. e.g. Contains global configuration information..

[2021-04-04 12:59] Bassem-Ramzy commented on #23
13.

Should be

[2021-04-04 13:14] Bassem-Ramzy commented on #23
14.

Should be

[2021-04-04 13:22] Bassem-Ramzy commented on #23
15.

to be

[2021-04-04 13:29] Bassem-Ramzy commented on #23
16.

[xhptdc8_adc_channel](https://github.com/cronologic-de/xhptdc8_babel/issues/15#issue-839428492) is still missing

[2021-04-04 14:07] Bassem-Ramzy commented on #15
1.

In interface.h:
[code]

It should be
[code]
to comply with XHPTDC8_GROUPING_VETO_OUTSIDE = 2

[2021-04-04 14:11] Bassem-Ramzy commented on #23
17.

In the user guide:
[code]

 while in code:
[code]
I believe that the code is more meaningful and allows for differentiation from any other future "vetoes".

[2021-04-04 14:21] Bassem-Ramzy commented on #23
18.

to be ?

[2021-04-04 14:27] Bassem-Ramzy commented on #15
2.

[code]

Should be
[code]

[2021-04-04 14:43] Bassem-Ramzy commented on #23
19.

Unification of _configure_:

My recommendation is to use a noun **Configuration** in all, as it describes the member variable, rather than using a verb, as the variable does no action.

[2021-04-04 14:50] Bassem-Ramzy commented on #23
20.

[code]

Should be:
[code]

to comply with XHPTDC8_ALIGN_RESERVED = 2

_Also_, additional information from the code might be useful if still valid:
[code]

[2021-04-04 15:07] #9 closed, assigned to Bassem-Ramzy

[2021-04-04 15:10] Bassem-Ramzy commented on #21
For 3.

Answer is no, we need to keep _64 in the name

[2021-04-05 10:13] Bassem-Ramzy commented on #19
Go native struct printf

[code]

Output is
[code]

I'm not a big fan of that output presentation
[Here is a link](https://www.geeksforgeeks.org/printing-struct-variables-in-golang/) to native go printf of struct

[2021-04-05 12:39] Bassem-Ramzy commented on #19
Warning while generating .go file from the interface using SWIG
[code]
Because of the `TDCHit.type`

[2021-04-05 12:54] sulimma commented on #19
Please do research on the consequences of this. Try whether it can be named "type" anyway in this context.
If not, it should be possible to use a different name for the Go interface. Like "hit_type".

[2021-04-05 14:45] Bassem-Ramzy commented on #19
A better presentation is using `json.MarshalIndent`:
[code]

Output is:
[code]

With the following prerequisites:
1. struct member name starts with a _Capital Letter_. Defining the structs from our interface.h should take this into consideration.

[2021-04-05 20:35] Bassem-Ramzy commented on #19
Found a solution
Add to SWIG interface file the following:
[code]
or the following to match the fullname
[code]
It renames the variable in generated GoLang to `Type`

[2021-04-06 10:03] Bassem-Ramzy commented on #19
Evaluation for research on using SWIG for wrapping C++ to Go:

## Findings
1. There is no much resources about wrapping structures directly from header files, and renaming the structure members (e.g. TDCHit::type).
2. Steps are a bit complicated, using different flags, supporting different special cases.

## Issues

Stuck in the following issues with partial/no solution found:
### SWIG Done
For SW

[2021-04-07 21:52] Bassem-Ramzy commented on #19
@sulimma: In section _choosing what information to print_, how the user will determine which device he/she wants to display the relevant information for?  Or, the info will be displayed for all devices?

[2021-04-07 22:32] sulimma commented on #19
See above, subsection "choosing which TDC to print"

[2021-04-08 09:08] Bassem-Ramzy commented on #19
Yep, got it
The serial number is got from: static_info->board_serial? It seems one serial per board.

[2021-04-08 09:37] sulimma commented on #19
Yes.

[2021-04-08 12:54] Bassem-Ramzy commented on #1
@sulimma
Is this a valid assumption ?

[code]

[2021-04-08 13:07] sulimma commented on #1
The current version of the dummy library can't be configured so it always has a fixed number of boards (one board).
So it is correct in this version.

However,  I believe that a better implementation would be to the the number of devices to 1 somewhere and check against that value in this function.

[2021-04-08 14:10] Bassem-Ramzy commented on #19
We need a sample serial for Dummy Library, could you please provide one?

Also, regarding to

Where can we get that list from?

[2021-04-08 14:29] Bassem-Ramzy commented on #19
@sulimma
I reached the following structures output so far, any comment? Should we display boolean as Yes/No (True/False) instead of 0/1?

[code]

By the way, this is default init parameters, might be needed as well for initialization using YAML
[code]

[2021-04-08 14:51] sulimma commented on #19
There is an API function that returns the number of devices.
Then you can use the get_xxx_info() functions to get the details for each of them.

[2021-04-08 14:52] sulimma commented on #19
The output is good, but please use the format from the spec for the first line:
[code]

[2021-04-09 13:03] sulimma commented on #15
I did all these corrections in the user guide and will push them shortly.

[2021-04-09 13:03] #15 closed, assigned to sulimma

[2021-04-09 15:15] sulimma commented on #23
You are good at detecting broken details. Thank you.
I fixed it all in the user guide.

[2021-04-09 15:15] #23 closed, assigned to sulimma

[2021-04-09 17:31] sulimma opened #25 "New API changes and new user Guide"
There is a new user guide in the results of this GitHub action:
https://github.com/cronologic-de/ug_xtdc_timetagger_xhptdc/actions/runs/733831291

There have been some API changes. Please work them into the dummy library.

I am going to send you the header file from the other developers. They did not merge your comments yet so please do merge the API changes into the cleaned up header and provide

[2021-04-09 17:41] sulimma opened #26 "Utility function get_all_error_messages"
The driver function get_last_error_message() needs to be provided with an index that selects the manager or one of the boards. (See new user guide).

That can be inconvenient. Please provide a method  that returns the error messages from all boards. In the format:
`"index, error_code, error_message\n"`
For example:
[code]

The method shall have two boolean parameters which are false as default:
*

[2021-04-10 13:39] Bassem-Ramzy commented on #25
All updates are applied
Still pending:
1. User Guide updates for xhptdc8_write_user_flash & xhptdc8_read_user_flash.
2. User Guide updates for xhptdc8_init: return in case of failure, return type (_xhptdc8_manager_ in .h & _xhptdc8_manager*_ in UG)

[2021-04-10 18:45] sulimma opened #27 "Statically linking with cgo"
@Bassem-Ramzy :

This should work in principle:
[code]

However, we need the library as a file of type `.a` as gcc can't link .dlls.

See:
https://stackoverflow.com/questions/65259409/using-a-windows-dll-in-go-with-cgo
https://cygwin.com/cygwin-ug-net/dll.html

Apparantly if you have gcc properly installed you should be able to create the library with
[code]

I did not test this as my gcc is runni

[2021-04-11 15:40] Bassem-Ramzy commented on #19
Go code dynamically linked to the driver is done, tested (on the Dummy library) and pushed, with the following outputs:

**No TDC nor Flags are passed in command line**
`>xhptdc8_info.exe`
- All xHPTDC8 are listed, sorted by serial number
- About (usage) is displayed
- Static info of all TDCs is displayed.
[code]

**TDC is passed with no flag**
`>xhptdc8_info.exe -tdc=0`
- All xHPTDC8 are listed,

[2021-04-12 11:07] Bassem-Ramzy commented on #27
The following code works well:

[code]

With output
[code]
Those are the only two members that have initials in capital letters in the structure, for testing purpose.

Also, `.a` results in the same output, when we replace:
[code]

with
[code]

By the way, `.def` and `.lib` both work fine.

With the following **updates in xHPTDC8_interface.h**:
1. Structure elements starts in upper case letters fo

[2021-04-12 12:34] sulimma commented on #19
Please invert the -v switch. Version and size are only specified if "-v" is added. Otherwise they are omitted.

[2021-04-12 12:59] sulimma opened #28 "Info-Tool Details"
A)
Please move the Info-Tool to /go/info/

B)
Please add a commandline switch -d that only outputs the requested data in JSON format without header, footer, etc.
This is intended to be called when the output is processed by other software or piped into a file.

C)
Please write a section in the README.md of the info tool about how to use our driver with go: The upper case struct members, the altern

[2021-04-12 14:13] sulimma commented on #27
Please create an alternate haeder file for go and then proceed to simplify the code of the info tool as much as possible. It appears that you can get rid of most of the wrapper code.

[2021-04-12 14:54] Bassem-Ramzy opened #29 "Call xhptdc8_close @ exit in tools"
Call Xhptdc8_close @ exit of all tools: Util Test, Util Unit Test, Info, etc..
It crashes sometimes and needs to be debugged to check memory status (new & delete) as well

[2021-04-12 15:17] Bassem-Ramzy commented on #28
B)

For
[code]

We get:
[code]
------

And for:
[code]

We get:
[code]

-----

And for:
[code]

We get:
[code]

@sulimma Right?

[2021-04-12 15:25] Bassem-Ramzy commented on #19
Sorry, I swapped it, fix is going to be pushed soon

[2021-04-12 16:11] sulimma commented on #27
I asked around among my coder friends and one very experienced programmer without any Go knowledge googled this:

go build --tags netgo --ldflags '-extldflags "-lm -lstdc++ -static"'

siehe folgende Links:
https://blog.hashbangbash.com/2014/04/linking-golang-statically/
https://medium.com/@diogok/on-golang-static-binaries-cross-compiling-and-plugins-1aed33499671
https://www.arp242.net/static-go.ht

[2021-04-12 16:26] sulimma commented on #28
The text line will disturb the parser. Unfortunatly JSON does not support comments.
Options are:
A)
move it into a pseudo comment that is JSON compliant:
[code]

B)
remove the text and wrap and provide only the index of the TDC as reference:
[code]

C)
Just remove the text line.

I am in favor of option C).
Option -d is intended for machines to get data back from calling the tool. The calling func

[2021-04-12 16:28] sulimma opened #30 "Info tool output with lower case struct members"
Except for go all languages using the tool use lower case struct members. Therefore the JSON output should also be in lower case.

I guess the easiest way to accomplish that is to get the result from JSON.MarshallIndent() and the convert the whole string to lower case.

We need to check whether there are any strings returned that will be broken by this approach..

[2021-04-13 09:23] Bassem-Ramzy commented on #28
I will go with C as well

Results are now as following:

For
[code]

We get:
[code]
---
For
[code]

We get:
[code]
---
For
[code]

We get:
[code]
@sulimma updated also so that variables start in small letters as per [Issue #30]

[2021-04-13 09:31] sulimma commented on #28
Perfect. Please provide a binary to @crono-melissa so that she can test it with real hardware.

[2021-04-13 09:57] Bassem-Ramzy commented on #27
After a little research and trials, it turned out that we don't need a new header, Go can cast the C.struct_xxx to Go struct easily and perfectly. All structures are defined in Go with variables names start in capital letters as designed.

[2021-04-13 10:44] Bassem-Ramzy commented on #27
Excellent articles indeed, I'm already using pieces of each
[code]
with code:
[code]

The DLL is statically linked in the way that: after building info.exe with that command with DLL function V1.0, if DLL is changed to V1.1 and copied to the same folder with info.exe, then info.exe still executes V1.0. However, if there is no DLL in the path with info.exe, it doesn't crash but it does nothing.

St

[2021-04-13 11:35] sulimma commented on #30
This is done, isn't it?

[2021-04-13 11:41] sulimma commented on #27
OK. Then we leave it as it is.
The dll is install in C:\program files\cronologic\xhptdc8\lib
on every computer that the driver is installed.
Is it possible to use it from that location? E.g. by a symbolic link or a search path environment variable?

[2021-04-13 11:42] Bassem-Ramzy opened #31 "Updates in interface.h for Go compatibility"
Header is updated for Go compatibility, needed in issue #19
Before:
After:
[code]

After:
[code]

Driver to take those updates into consideration

[2021-04-13 11:45] sulimma opened #32 "Add Info-Tool Binary to the Driver installer"
This will be done by Dennis.

@Bassem-Ramzy:
Please work with Dennis on a way to automatically get the latest binary to the installer.
You could have a github action that compiles the binary upon push and the Dennis uses his build script to download the asset.

Or any other way that is convenient and reliable.

[2021-04-13 11:47] Bassem-Ramzy commented on #30
Done in the cgo code, still needs to be updated in Go dynamic link code

[2021-04-13 11:49] sulimma commented on #30
Get rid of the dynamic link code.
It is archived in the version history but should not confuse customers. Just present the most simple solution that we found.

[2021-04-13 11:52] #30 closed, assigned to Bassem-Ramzy

[2021-04-13 12:43] Bassem-Ramzy commented on #27
Yes, as long as the DLL is on the %PATH% then info.exe should find it

[2021-04-13 12:47] Bassem-Ramzy commented on #27
For the record, those are some of my tests with the results:
1. That causes no error  but still needs DLL
[code]

2. That causes no error when removing the DLL but doesn't display the struct, but when it's back, it displays the struct
[code]
From [this link](https://stackoverflow.com/questions/16747021/how-do-you-statically-link-a-c-library-in-go-using-cgo
)

3. That causes no error when removing

[2021-04-13 12:48] #27 closed, assigned to Bassem-Ramzy

[2021-04-13 16:10] Bassem-Ramzy commented on #28
@crono-melissa
I've pushed the latest version of the info tool to github
You will find the following:
1. exe [here](https://github.com/cronologic-de/xhptdc8_babel/tree/main/go/bin/x64); just grab it in the folder of the driver dll (xhptdc8_driver_64.dll) or vice versa.
2. All commands and examples are found on [wiki page](https://github.com/cronologic-de/xhptdc8_babel/wiki/using_info_tool).

I cou

[2021-04-13 16:14] Bassem-Ramzy commented on #28
Point C) is done, except that we don't need "alternate header file" any more.

[2021-04-13 16:14] #28 closed, assigned to Bassem-Ramzy

[2021-04-13 16:24] Bassem-Ramzy commented on #25
All is good as per the [latest user guide](https://github.com/cronologic-de/ug_xtdc_timetagger_xhptdc/actions/runs/744553277)

[2021-04-13 16:24] #25 closed, assigned to Bassem-Ramzy

[2021-04-14 10:33] Bassem-Ramzy commented on #32
Building 368 GOARCH causes errors: looks related to package visibility:
[code]
Working on that

[2021-04-14 15:40] ahofmann75 commented on #31
Default parameter removed as it is not suported by plain C.

[2021-04-14 15:40] #31 closed, assigned to nobody

[2021-04-15 11:22] Bassem-Ramzy commented on #32
I'm getting a weird error from go compiler when building it for x86, after researching a lot with many trials, I submitted an [issue on go](https://github.com/golang/go/issues/45579), hope to get a quick resolution.
I believe there is some settings that I don't know.

[2021-04-15 12:22] Bassem-Ramzy commented on #29
The concept of new & delete works well with CGO, as per the code below:

[code]
&
[code]

&
[code]

[2021-04-15 12:42] Bassem-Ramzy commented on #32
And,
https://stackoverflow.com/questions/67108696/go-build-error-build-constraints-exclude-all-go-files-when-goarch-386-with-imp

[2021-04-15 13:36] Bassem-Ramzy commented on #29
init & close work properly with simple code as well
[code]

Most probably it's a memory overwrite issue that makes the handle kind of invalid

[2021-04-15 14:27] Bassem-Ramzy opened #33 "Update ug_example in GU as per driver latest updates"
We need to update the code example in the user guide for the latest driver updates as following:

1. Old code
[code]
New code:
[code]
---
2. Old code
[code]
New code:
[code]
---
3. Old code:
[code]
New code:
[code]

[2021-04-15 19:36] #29 closed, assigned to Bassem-Ramzy

[2021-04-16 08:21] sulimma commented on #33
Please update the code and upload it here:
https://github.com/cronologic-de/ug_xtdc_timetagger_xhptdc/blob/main/xhptdc/example.cpp

[2021-04-16 11:27] #33 closed, assigned to Bassem-Ramzy

[2021-04-17 11:24] Bassem-Ramzy commented on #32
xhptdc8_info.exe & xhptdc8_info_64.exe are automatically built using github action and pushed to \go\info\bin corresponding sub-folder

[2021-04-17 11:24] #32 closed, assigned to Bassem-Ramzy

[2021-04-17 11:36] Bassem-Ramzy commented on #18
Closing the issue as _Debug verbose level / Logging_ will be needed when util get bigger consequently

[2021-04-17 11:36] #18 closed, assigned to Bassem-Ramzy

[2021-04-17 19:32] Bassem-Ramzy commented on #26
@sulimma. I have the following questions:

1. In Dummy Library (based on interface.h) there is no function that returns both the _last_ error_code and _last_ error_message. How to get the _last error code_?
2. For boards don't exist in the system: if fixed_length=true; xhptdc8_get_last_error_message should return error that the board index is invalid, should we display this error?
3. In case the f

[2021-04-18 13:45] sulimma commented on #26
1. Most functions return an error code. If you get an error code that is different from *_OK you can use "get_last_error_message" to retrieve the human readable error message for that code. I did not think about that. Do not output any error codes for this function.
2. For fixed length you should not call *_get_last_error_message() for boards that do not exist. Instead return "board does not exist

[2021-04-18 15:07] Bassem-Ramzy commented on #26
OK, thanks.
I'm pushing the code, with the function signature as following:
[code]
hMgr is passed to it from caller.

[2021-04-18 15:17] Bassem-Ramzy commented on #26
With include_ok=true, fixed_length=true
Normal output is:
[code]

Error in arguments:
[code]

For error in device_count (null error message)
[code]

[2021-04-19 09:38] sulimma commented on #26
Please document the function in the Readme.md of
https://github.com/cronologic-de/xhptdc8_babel/tree/main/util

[2021-04-19 10:15] #26 closed, assigned to Bassem-Ramzy

[2021-04-19 10:26] Bassem-Ramzy opened #34 "github actions build fails - push sync issue"
The github actions that build Dummy, Util, Info, and Util Test, when all run simultaneously, they randomly fail at committing the output to github, when rerunning each one alone they work.
Initial solution is to put all in one action, different jobs.
Or, research for a solution by github.

[2021-04-19 14:46] sulimma opened #35 "Add *_software_trigger() to dummy library"
'''C
int xhptdc8_software_trigger(xhptdc8_manager hMgr, int index)
'''

In the dummy library this function does nothing except returning XHPTDC8_OK.

With real hardware this issues a trigger event for one clock cycle that can be used as a trigger source for the TiGer and Gating blocks.

[2021-04-20 16:13] sulimma opened #36 "Changes in header file"
@ahofmann75 did cosmetic changes to the header file.

@Bassem-Ramzy :
This should not change anything for compilation, but please check whether the dummy lib still compiles.

(Or is there any automatic compile on push vie github actions?)

[2021-04-20 16:20] Bassem-Ramzy commented on #36
Yes, it compiles successfully
[Last automatic build](https://github.com/cronologic-de/xhptdc8_babel/actions/runs/767652081)

[2021-04-20 16:20] #36 closed, assigned to Bassem-Ramzy

[2021-04-20 16:21] Bassem-Ramzy commented on #35
Done adding in a previous push

[2021-04-20 16:21] #35 closed, assigned to nobody

[2021-04-26 06:39] sulimma opened #37 "Creating a DLL with Rust"
Please also test the opposite process of creating a DLL with Rust and calling it from C or C++.
There is no specific functionality needed, but the test should include passing strings and structs.

Please test creation of a 32 and a 64 bit library.

[2021-04-26 11:02] Bassem-Ramzy commented on #10
@sulimma can we exchange `-h` with `-n` for example, as `-h` is default of the help (=`--help`)?

[2021-04-26 11:09] Bassem-Ramzy commented on #10
Is that OK?

[code]

[2021-04-26 11:16] Bassem-Ramzy commented on #10
The files shall be applied to the default config in the order that they are given.

The reason we have "a list" (and not only one file) is that we have a configuration file per device? Please elaborate.

[2021-04-26 13:01] sulimma commented on #10
'-h/-n' : OK

[2021-04-26 13:04] sulimma commented on #10
## reason for multiple YAML files:
We will provide example files for partial configuration.
For example there might be one file that configures grouping for a certain application and another file that configures the input voltages for a given signaling standard.

[2021-05-03 21:32] Bassem-Ramzy commented on #10
@sulimma The progress bar will _progress_ only during writing the hits to the files, but not during the call of `xhptdc8_read_hits`, as the C function can't update it. We can set like 20% of the progress for the read function, so it's 0% before calling the function, then 20% after calling it, then progress with writing data to output files. Right? Any other ideas?

[2021-05-03 22:04] sulimma commented on #10
xhptdc8_read_hits will allways return immediately (sort of), with or without data.
There is no need for any update during that function.
Have a look at the example from the user guide on a typical use case.

The simplest approach would be to do this after each call to read_hits():
hits_read += number_of_hits_returned_from_read_hits;
and then update the progress bar.

But this results in a lot of u

[2021-05-03 22:05] sulimma commented on #10
The number of hits to read will be in the millions in typical application and a few thousand with the dummy library (as it creates 1000 hits per second)

[2021-05-04 09:25] Bassem-Ramzy opened #38 "Update dummy library for read group-mode updated behaviour"
As per the latest user guide:

grouping mode. In grouping mode each call to xhptdc8_read_hits() will return a group of
timestamps relative to some trigger event. **At the beginning of each group an additional hit with
channel number 255 is returned**.

Need to add the `channel 255` data

[2021-05-04 10:33] Bassem-Ramzy commented on #10
@sulimma
1. About when the readout tool stops reading from the device ( _i.e. stops looping on calling read()_ ), will it be when the returned hits count is < buffer size? Or the MAX_TRYS_TO_READ_HITS = 1000?
2. What should be the _typical_ frequency of calling _read()? slightly < 1KHz to match dummy driver? How long to sleep if no reads are there?
3. How to know the number of the _total hits_ wil

[2021-05-04 10:36] Bassem-Ramzy commented on #38
@sulimma Will there be **3** `TDCHit` elements in `hit_buf` instead of **2**? The first one is this additional hit.

[2021-05-04 10:47] crono-melissa opened #39 "Info-Tool: small bugs"
Hey, I finally had time AND equipment to test the info-tool with real hardware (single device) and it mostly works fine.
Bugs I found:
- param_info is never shown, no matter, what flag is set.
- serial number conversion seems to make struggle. The device I use has the SN 20.277, the tool shows 20.000017 and both does not work to call the device.

This:
PS C:\Users\Melissa\Desktop\i_git_t\xhptdc8_b

[2021-05-04 11:09] #38 closed, assigned to Bassem-Ramzy

[2021-05-04 11:25] Bassem-Ramzy commented on #39
@crono-melissa
For the first point, it runs on dummy driver using command line `xhptdc8_info_64.exe -tdc=0 -param` on my machine as following:
[code]
Please try `-tdc=0` by _index_ instead of serial number, and let me know. As, it might be related to the second bug reported.

[2021-05-04 11:46] crono-melissa commented on #39
@Bassem-Ramzy this is exactly what I did (if I try to call the device by serial there is absolutely no output).

PS C:\Users\Melissa\Desktop\i_git_t\xhptdc8_babel\go\bin\x64> .\xhptdc8_info_64.exe -tdc=0 -param
-----------------------------------------------------------------------------
               xHPTDC8 Information Utility Application
--------------------------------------------------------

[2021-05-04 11:49] Bassem-Ramzy commented on #39
For point #2 please test using this exe?
[xhptdc8_info_64.zip](https://github.com/cronologic-de/xhptdc8_babel/files/6420839/xhptdc8_info_64.zip)
It should display the following two lines first for debugging purpose:
[code]
Please share the results when you run it

[2021-05-04 11:57] crono-melissa commented on #39
windows cmd outputs the following:
C:\Users\Melissa\Desktop\xhptdc8_info_64> xhptdc8_info_64.exe -tdc=20.277 -param
Serial from device static information:  335544597
Serial Number Entered is < 20.277 >.
Error: Serial number entered < 20.277 > is not found.
-----------------------------------------------------------------------------
               xHPTDC8 Information Utility Application
----------

[2021-05-04 12:03] Bassem-Ramzy commented on #39
Regarding to PowerShell, that's why I'm using cmd instead.
PowerShell for a reason or another doesn't handle `20.277` as a full float, but processes the `.` separately, so, we can use the following with PS, with serial enclosed within two Single quotations:
[code]

Will get
[code]

[2021-05-04 12:14] crono-melissa commented on #39
Good to know, that explains why the input was not considered to be a serial (must contain ".") and caused the 'weirder' error.
So there ist probably just an error in copying/converting/parsing the serial.
And still param_info is not shown, but that could also belong to driver changes/bugs.

This is working (with each of the binaries):
C:\Users\Melissa\Desktop\xhptdc8_info_64> xhptdc8_info_64.exe -

[2021-05-04 12:38] Bassem-Ramzy commented on #39
@crono-melissa Could you please share with me the algorithm/code of converting fixed824 to float and vice versa?

[2021-05-04 15:41] sulimma commented on #10
Let me answer first for non-grouping mode.

1)
The tool shall read until the total number of hits specified on the command line has been read (number_of_files*hits_per_file). In non grouping mode the number of hits in a file will always exactly match the number specified at the command line.
A maximum number of tries is not suitable because there are applications with very low count rates (in astr

[2021-05-04 15:43] sulimma commented on #10
In grouping mode there is a little complication because you might have read 9.999 hits so far and the next group contains 10 hits. The file shall always contain complete groups. So in this case you write a file with 10.009 hits instead of 10.000.

The difference will be very small in typical cases so I would just ignore this effect for progress calculations. It is OK if the program completes at 10

[2021-05-04 16:04] Bassem-Ramzy commented on #39
@crono-melissa I've updated the code for the serial number, should be fixed, new exes are found on go/bin/, please check and let me know
As for -param, I'll add extra error messages for more clarification

[2021-05-05 05:33] crono-melissa commented on #39
Perfect, the serial-bug is fixed:

C:\Users\Melissa\Desktop\i_git_t\xhptdc8_babel\go\bin\x64>xhptdc8_info_64.exe -tdc=20.277
-----------------------------------------------------------------------------
               xHPTDC8 Information Utility Application
-----------------------------------------------------------------------------

Installed Devices Serials for 1 TDC(s):
1 ) index: 0 xHPTDC8 se

[2021-05-05 07:13] Bassem-Ramzy commented on #39
@sulimma
In the driver code:
[code]
1. In info tool, we should call `xhptdc8_configure` with default configuration when calling `get_param_info`, right?
2. In Dummy library, I will check the same states in `get_param_info`, right?

[2021-05-05 07:24] sulimma commented on #39
1)
Sorry, that is my fault. I did not realize that get_param_info is dependent on the configuration.
Please remove the param feature from the info tool. It does not make sense.

2)
Yes. Modeling this behavior is easy to do in the dummy library so please add it.

[2021-05-05 07:41] #39 closed, assigned to Bassem-Ramzy

[2021-05-05 07:43] sulimma commented on #39
@Bassem-Ramzy : Regarding the serial numer:
8.24 means that there are 8 bits for the year-2000 and 24 bits for the running serial number.
20.277 should be 0x14000115 or decimal 335.544.597.
(0x14 is 20 and 0x000115 is 277)

20.017 should be 0x14000011 or decimal 335.544.337

So conversion is:
year = serial >> 24
id = serial & 0xffffff

[2021-05-05 07:48] Bassem-Ramzy commented on #39
Crystal clear, thanks Kolja

[2021-05-11 13:56] Bassem-Ramzy commented on #10
Beta code is pushed, with the following output
![readout](https://user-images.githubusercontent.com/75851720/117827503-55796600-b271-11eb-99d8-3f94f9f871a1.png)
For CMD:
[code]
@sulimma, apart from the 99/100 issue, please let me know your comments

[2021-05-11 14:17] sulimma commented on #10
Please provide examples for output files in both modes.

The screenshot is looking good. Minor improvements:
- format the serial number with only three digits like this: 21.006
- "Acquiring hits" and "Starting Capture" is redundant from the user point of you. As soon as you don't need it anymore for debugging remove one of them.

[2021-05-11 14:19] sulimma opened #40 "What do you think of Rust and Go?"
You have been using Golang and Rust for two small projects now.
What was your experience, both with the language and the compiler.

It is said about Rust that it is difficult for beginners to grasp the concept of variable ownership.
How was that for you?
It is also said to provide excellent compiler error output. Do you second that?

What else did you notice?

[2021-05-11 15:50] Bassem-Ramzy commented on #40
**Rust:**
1. Really annoying to _fully_ cover the ownership concept, however, many articles illustrate it pretty well so it could be "memorized" or resolved easily. But for a C++ backgrounder, it's an un-needed complication.
2. The ownership is fundamental for the "excellent compiler error output", I think this compiler might be helpful to developers who are not experienced enough to either write

[2021-05-11 18:14] sulimma commented on #40
The hurdles introduced with the ownership concept are intended to avoid memory management errors (and improve performance). We have a fair share of memory errors in our projects.

Do you think that it might be worthwhile to learn Rust until we fully grasp these concecpts and then benefit from less errors, especially with multithreading?
Or could we just as well write our projects in C++?

[2021-05-12 09:58] Bassem-Ramzy commented on #40
Rust _ownership_ is the same challenge the beginner faces as C _pointers_, so they are equal in annoyance anyways.
I believe that if memory handling is _significantly a challenge_ in our type of projects, we can go Rust. Assuming it has, at least, the same capabilities of C regarding to pointers, and flexibility building libraries in cross-platform.
Let's bear in mind the conversion of code from C

[2021-05-12 12:03] Bassem-Ramzy commented on #10
Output file in no-group mode
[code]
[output.zip](https://github.com/cronologic-de/xhptdc8_babel/files/6465950/output.zip)

[2021-05-12 12:17] Bassem-Ramzy commented on #10
@sulimma
Output file**s** in no-group mode
[code]
[readout.zip](https://github.com/cronologic-de/xhptdc8_babel/files/6466028/readout.zip)

[2021-05-12 12:38] Bassem-Ramzy commented on #10
If no YAML file is provided, _default configuration_ will be applied, right?

[2021-05-12 13:01] Bassem-Ramzy commented on #10
Binary output file for
[code]
[output.zip](https://github.com/cronologic-de/xhptdc8_babel/files/6466295/output.zip)

[2021-05-12 13:23] Bassem-Ramzy commented on #10
Sample binary file for command:
[code]
[output.zip](https://github.com/cronologic-de/xhptdc8_babel/files/6466427/output.zip)

[2021-05-12 13:45] sulimma commented on #10
BTW:
This is a great tool if you want to look at binary files:
https://www.sweetscape.com/010editor/

You can do binary regex searches or define patterns to format the display of binary data.

[2021-05-12 13:47] sulimma commented on #10
Yes.

[2021-05-12 13:50] sulimma commented on #10
In the second and third file the timestamps do not increment. In the first file they do (the first one is correct).

[2021-05-13 11:51] Bassem-Ramzy commented on #10
For binary mode, we got the following:
1. Using `format`
[code]
Time: Elapsed: Ok(45.8944742s), Slept: 27450
Code:
[code]
2. Using `to_be_bytes`
[code]
Elapsed: Ok(45.0601612s), Slept: 26810
 Code:
[code]
----
Conclusion:
1. In 100K hits, it's almost the same time. With millions hits, it shall make a greater difference.
2. Using `format` doesn't write binary data, but string representation of bina

[2021-05-13 11:56] Bassem-Ramzy commented on #10
Very good one, I'm using [mh-nexus](http://www.mh-nexus.de/) as I needed only a hexadecimal viewer/editor.

[2021-05-13 17:38] sulimma commented on #10
You are creating 1000 hits per channel with the dummy library, so it will always take about 50s to acquire 100.000 hit. That it takes less than 50s indicates that the timing in the dummy library is not accurate.

The problem with format is that it parses this string with a regular expression parser on each call:
"{:064b}{:08b}{:08b}{:016b}\n". This takes at least 27 load instruction and compare in

[2021-05-13 17:41] Bassem-Ramzy commented on #10
Right, it should do that, but for a reason or another it doesn't, I'm checking it anyways

[2021-05-13 17:42] sulimma commented on #10
from the specification of to_be_bytes():
"Return the memory representation of this integer as a byte array in big-endian (network) byte order."
And the memory representation of integral types always is the same size.

Also:
Do not write a new line. We want the structure to be the same size on disc as it is in memory (96 bits)

[2021-05-13 17:43] Bassem-Ramzy commented on #10
OK

[2021-05-13 17:46] Bassem-Ramzy commented on #10
I added a command line flag `-l` to enable logging. Just making use of the messages (`println!`) I use while debugging.

[2021-05-13 17:52] sulimma commented on #10
We do not need to catch errors on every call. Try this:
[code]

[2021-05-13 17:56] sulimma commented on #10
Unfortunately Rust aligns the structure to 128 bits. Otherwise you could do:
[code]
and be done.

[2021-05-13 18:32] sulimma commented on #10
You should note in the readme file that binary data is stored in big endian format (network byte order).

[2021-05-13 18:46] Bassem-Ramzy commented on #10
For code:
[code]

Getting compile time warning regarding to the `Result` return of the function:
[code]

Still investigating...

[2021-05-13 18:47] Bassem-Ramzy commented on #10
[B1.zip](https://github.com/cronologic-de/xhptdc8_babel/files/6474462/B1.zip)
Got binary file, looks correct
For command:
[code]
10,000 hits * 12 Bytes = 120KB file size
No delimiter, nor new line. Size is OK

[2021-05-13 19:11] sulimma commented on #10
Yes, it is correct. I had a look at it with this 010-editor template:
[code]
And it parses correctly.

[2021-05-13 21:18] Bassem-Ramzy commented on #10
Grouping is the only remaining feature, then it's just building x86, github action, and any tuning needed.
1. I'm thinking about setting a _threshold_ for this next group case, like 10% of file size. So, _if a group when written to file will increase the file size more than 10% of its target size, then this group is moved to the next file if found, or dropped if not, with the proper info message d

[2021-05-14 06:35] sulimma commented on #10
There is no threshold needed. More later.

[2021-05-14 07:07] sulimma commented on #10
1.
The group size is limited. In many cases it will be 2 or 8. Technically it could be 16kB (the size of the FPGA FIFO, but that is an unrealistic scenario and also would not be a problem. The file sizes will typically be hundreds of megabytes. So we can just ignore it.

[2021-05-14 07:14] sulimma commented on #10
2.

I am not sure if that did make it into the dummy library yet: The first word of each group has channel number 255 and an absolute timestamp. So that data of a group will look like this:
[code]

The second hit is redundant, there might be an option in the future to ommit it.

[2021-05-14 07:56] Bassem-Ramzy commented on #10
Yes, _channel number 255 and an absolute timestamp_ is implemented lately in Dummy library. So, it's enough as a delimiter. No threshold nor delimiter are needed then.

[2021-05-17 20:49] #10 closed, assigned to Bassem-Ramzy

[2021-05-18 16:31] #37 closed, assigned to Bassem-Ramzy

[2021-05-25 17:40] Bassem-Ramzy opened #41 "consider -ve values of trigger_threshold in apply_yaml"
By Melissa: the trigger_threshold in channel-configs, also the one for the adc-config can be negative

[2021-07-21 15:33] djcrono opened #42 "Major change on xhptdc8 API: manager handle has been dropped"
He Bassem,

1)  we had made major changes on the api: In short,
we dropped the manager handle, so nealy all function signatures have been changed.

2) The user guide isn´t updated yet, but the comments in the interface header file are up-to-date.
3) all known bugs have been fixed e.g. the od behavior of the function xhptdc8_read_hits, when it returned an error code.

So
- the projects dummy driver

[2021-07-22 06:32] Bassem-Ramzy commented on #42
What is the usage of the DLL `clr_crono_base.dll`? Should I do anything with/for it?

There seem to be no exported functions:
[code]

[2021-07-22 06:45] Bassem-Ramzy commented on #42
What is the design/idea behind having no manager handle passed to APIs? While we can have more than a device installed on the machine, handled by `index` parameter in `xhptdc8_get_fast_info` for instance.

Please send me all the driver files (including crono_kernel_interface.cpp)

[2021-07-22 07:51] djcrono commented on #42
In a haste, i just copied all driver files from the installer output.
You just have to update only these files:
 xhptdc8_driver.dll
xhptdc8_driver.lib
 xhptdc8_driver_64.dll
xhptdc8_driver_64.lib
xHPTDC8_interface.h

The files with prefix "clr_" are not for applications in this repository.
Sorry for that.

[2021-07-22 08:43] djcrono commented on #42
This issue is **not** concerning kernel driver or kernel driver api.
The Content of this issue is the **xhptdc8_babel** repository.
So, what I meant was that we dropped the xhptdc8_manager handle in the file xhptdc8_interface.h.

The concept has **not** been changed: in this programming interface, all **xhptdc8**-devices are handled simultaneously.
For explanation: But when we thought about the co

[2021-07-22 09:45] djcrono commented on #42
I edited the user guide example file. but i could not check for syntax errors:

`// xhptdc8_user_guide_example.cpp : Example application for the xHPTDC8

#include <stdio.h>
#include <stdlib.h>
#include <windows.h>
#include "crono_interface.h"
#include "xHPTDC8_interface.h"

typedef unsigned int uint32;
typedef unsigned __int64 uint64;
int exit_on_fail(int status, const char* message);
const int MA

[2021-07-26 16:23] ahofmann75 commented on #42
xhptdc8_read_group_matrix() provides the same data as xhptdc8_read_hits() in an other format. xHPTDC8_interface.h has a description of the function parameters.

The basic concecpt is that all timestamps of one group are stored in a 1D array accessed as a 2D array. Each row of the array tdc_array has all timestamps of one of the channels. The ADC timestamps are stored in the 9th row. The dimensions

[2021-08-17 14:40] ahofmann75 opened #43 "All Elements YAML example does not work with xhptdc8_readout_64"
-----------------------------------------------------------------------------
                 xHPTDC8 Readout Tool Application
-----------------------------------------------------------------------------
Initializing xHPTDC8 device... Done

Installed Devices Serials for TDC(s): 1
1) index 0: xHPTDC8 serial 20.273

Configuring device using YAML file(s)
thread 'main' panicked at 'Error getting cur

[2021-08-17 15:34] ahofmann75 opened #44 "xhptdc8_info: driver_revision output not decoded"
For driver revision 0.19.0 the output is 4864. That is the undecoded raw value of the field.

driver_revision stores the driver revision in a three 8 bit values packed in one integer. That is
Major = (driver_revision >> 16) & 0xff
Minor = (driver_revision >> 8)  & 0xff
Revision=  driver_revision & 0xff

[2021-08-17 15:35] ahofmann75 opened #45 "xhptdc8_info: flash_serial_{high, low} and chip_id should be printed as hex values"

[2021-09-08 11:24] Bassem-Ramzy commented on #43
@ahofmann75 Function `xhptdc8_get_current_configuration` returned `4`, which is equivalent to `CRONO_WRONG_STATE` in `crono_interface.h` (when a capture on a closed card is called).
Is there any prerequisite to calling `xhptdc8_get_current_configuration` other than calling `xhptdc8_init`?

[2021-09-08 14:16] #45 closed, assigned to Bassem-Ramzy

[2021-09-08 14:30] ahofmann75 commented on #43
For xhptdc8_get_current_configuration() to work the device must at least be configured. xhptdc8_configure() must have been called at least once.
To get the default configuration use xhptdc8_get_default_configuration().

[2021-09-08 14:47] #44 closed, assigned to Bassem-Ramzy

[2021-10-11 10:18] #40 closed, assigned to Bassem-Ramzy

[2021-10-11 11:50] Bassem-Ramzy commented on #43
@ahofmann75 Most probably the yaml is not parsed properly. I added a check and an information message.
Please test again, and let me know.
If it displays an error with Yaml, please send me the yaml to test with

[2021-10-11 12:59] #41 closed, assigned to Bassem-Ramzy

[2021-10-11 13:01] Bassem-Ramzy commented on #34
Problem is not encountered again.
Simple workaround is when the build failure email notification is sent, build it alone and it will build

[2021-10-11 13:01] #34 closed, assigned to Bassem-Ramzy

[2021-10-14 14:01] ahofmann75 commented on #43
YAML file copied from "All Elements YAML" in https://github.com/cronologic-de/xhptdc8_babel/blob/main/util/README.md
Result: Error -83 Error applying yaml.

Complete output
[code]

[2021-10-14 14:12] ahofmann75 commented on #43
When using an empty yaml file the application crashes with a Microsoft Visual C++ Runtime Library Debug Error "abort() has been called":

[code]

[2021-10-14 15:08] ahofmann75 opened #46 "xhptdc8_readout crashes if yaml filename is invalid"
[code]

[2021-10-15 08:01] #46 closed, assigned to nobody

[2021-10-15 16:28] Bassem-Ramzy commented on #43
I updated the wiki documentation for `trigger_threshold` to have a valid value after fixing the code based on issue #41. trigger_threshold=1

[2021-10-15 16:46] Bassem-Ramzy commented on #43
@ahofmann75 Please use the latest code/exe after change, test again, and let me know.

I'm getting the following, as I don't have a device
[code]

[2021-10-18 12:08] ahofmann75 commented on #43
The All Elements YAML on https://github.com/cronologic-de/xhptdc8_babel/tree/main/util#all-elements-yaml is still broken.
[code]

[2021-10-18 12:18] ahofmann75 commented on #43
Having looked at the Rust source code the xhptdc_driver complains about invalid config paramters. The driver provides a function called xhptdc8_get_last_error_message() that returns a message string with detailed information. This should be printed if xhptdc8_configure() fails for any reason.

[2021-10-18 16:10] ahofmann75 opened #47 "xhptdc8_readout shall show the xhptdc8_configure() text error message if the function call fails"
The driver provides a function called xhptdc8_get_last_error_message() that returns a message string with detailed information about the last occured error. This should be printed if xhptdc8_configure() fails for any reason.

[2021-10-18 16:12] ahofmann75 commented on #43
`watchdog_interval : 5` is an invalid value for the configuration field. If a valid value is entered configuration succeeds.

[2021-10-18 16:12] #43 closed, assigned to Bassem-Ramzy

[2021-10-19 14:12] ahofmann75 opened #48 "xhptdc8_info ignores command line arguments when -tdc=[TDC] is missing"
The application always prints the static_info of the device when -tdc=[TDC] is missing. This does not match the help text.
[code]

[2021-10-19 14:15] ahofmann75 opened #49 "xhptdc8_info [TDC] does not work"
The help text sounds as if `xhptdc8_info -tdc=[TDC]` and `xhptdc8_info [TDC]` are interchangeable. That is not the case.

[2021-10-20 18:23] Bassem-Ramzy commented on #48
Right, apparently we need to update [the help](https://github.com/cronologic-de/xhptdc8_babel/wiki/using_info_tool#nothing-specified) to be:

@sulimma please advise, should we update only the help, or should we update the behavior?

[2021-10-20 18:38] Bassem-Ramzy commented on #49
Right, will be updated to the following
[code]
instead of:
[code]

OK?
@sulimma please advise

[2021-10-22 17:04] ahofmann75 commented on #48
As the typical user has a single device a missing device number should be treated as -tdc=0

[2021-11-11 16:14] sulimma commented on #49
That is perfect. Go ahead.

[2021-11-11 16:23] sulimma commented on #48
This is partly intended behaviour. The idea was, that the tool without any parameters provides an overview over the available TDCs.

[2021-11-11 16:37] sulimma commented on #48
However, the behaviour also is not implemented correctly.

If you look at the issued that I provided for specification:
https://github.com/cronologic-de/xhptdc8_babel/issues/19

It says:
If there is at least one command line switch, only the selected structures are printed.
Note the plural in "structures".

However, in the wiki you differentiate between "-all", "one structure" or "one structure an

[2021-11-11 16:38] sulimma commented on #19
#48 made it clear that the tool does not operate to the speficcation given in this issue. Please fix.

If there is at least one command line switch, only the selected structures are printed.
Note the plural in "structures".

However, in the wiki you differentiate between "-all", "one structure" or "one structure and -v".
https://github.com/cronologic-de/xhptdc8_babel/wiki/using_info_tool
That is n

[2021-12-12 18:19] #49 closed, assigned to Bassem-Ramzy

[2021-12-14 11:02] Bassem-Ramzy commented on #19
@sulimma

clear the set of methods whenever the first flag specifying a print option is found on the command line
add whatever options are found on the command line to the set of print methods

OK

the set of TDCs to process is set to all TDCs

OK

It should be passed with `-tdc=[TDC]` as per a recent [update](#48).
   _[TDC]   is either an integer as the index of the TDC, or a serial number of th

[2021-12-14 15:26] #48 closed, assigned to Bassem-Ramzy

[2021-12-14 15:27] #19 closed, assigned to Bassem-Ramzy

[2021-12-21 13:14] ahofmann75 opened #50 "xhptdc8_readout fails silently"
xhptdc8_readout does not produce any output:
[code]

[2021-12-21 13:41] Bassem-Ramzy commented on #50
The main reason is the absence of a dependency DLL  `xhptdc8_util_64.dll`, which is a prerequisite as mentioned [in the documentation](https://github.com/cronologic-de/xhptdc8_babel/wiki/using_readout_tool#prerequisites)

Apparently, PowerShell doesn't display the relevant error, while the command does display the following message:
![image](https://user-images.githubusercontent.com/75851720/14693

[2021-12-21 13:52] #50 closed, assigned to Bassem-Ramzy

[2021-12-21 14:40] ahofmann75 opened #51 "xhptdc8_readout report Error: -90 when using certain yaml files"
[code]
minimal.yaml
[code]

[2021-12-21 15:42] ahofmann75 commented on #51
The parameter validations in xhptdc8_util_yaml.cpp::xhptdc8_apply_grouping_yaml() do not seem to be ok. For example grouping.trigger_channel and zero_channel_offset may be '0'.

[2021-12-21 16:09] ahofmann75 opened #52 "xhptdc8_readout shall show a textual description when encountering a YAML parsing error"
Currently only the error number is printed.
[code]

[2021-12-21 17:54] Bassem-Ramzy commented on #51
Error -90 is `XHPTDC8_APPLY_YAML_INVALID_GROUPING_ENABLED`
Weird, testing the same yaml here resulted in the following (from both command and PowerShell):

[code]

Even if there is a problem with grouping, it should first apply the previous values, then display -90 error.

BTW, I found a spelling typo, will fix it/

[2021-12-21 19:59] Bassem-Ramzy commented on #51
Fixed

[2021-12-22 11:11] #52 closed, assigned to Bassem-Ramzy

[2021-12-22 11:20] Bassem-Ramzy commented on #51
Adding new line at the end of YAML will make it work, as the error is related to the last node in the YAML in general and not grouping enabled specifically.

[2021-12-22 11:20] #51 closed, assigned to Bassem-Ramzy

[2021-12-22 11:25] #47 closed, assigned to Bassem-Ramzy

[2021-12-29 11:44] Bassem-Ramzy opened #53 "Implement new API xhptdc8_read_group_matrix"
From Issue #42
https://github.com/cronologic-de/xhptdc8_babel/issues/42#issuecomment-886846513

[2021-12-29 11:44] #42 closed, assigned to Bassem-Ramzy

[2021-12-29 11:45] Bassem-Ramzy commented on #42
New issue is created for it, #53

[2022-06-19 07:19] Bassem-Ramzy opened #54 "pciDeviceOpen must be called before calling CardCleanupSetup() error"
When running examples, we get:
[code]

[2022-06-19 09:25] Bassem-Ramzy commented on #54
Corrected the message wording on [crono_pci_linux](https://github.com/cronologic-de/crono_pci_linux/commit/6430c2ae29355004217b4cf33e6bbd87db00522d)

[2022-06-19 09:34] Bassem-Ramzy commented on #54
After message fix, it became:
[code]